.product {
    &_list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    &_item {
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &_image {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            width: 60%;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &_price {
        color: red;
        font-size: 20px;
        font-weight: bold;
    }
    &_title {
        text-align: center;
    }
}
